
<h2 class="centered">Entry on <%= entry.createdAt.toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric', year: 'numeric', hour12: true }) %></h2>
<div class="centered">
  <h2 class="centered">Edit Entry</h2>

  <form method="POST" action="/entries/<%= entry.id %>?_method=PUT">



<h1 style="padding: 0 20px;">☀️</h1>

<!-- Add the disabled attribute to make the fields read-only -->
<div class="mb-3" style="padding: 0 20px;">
  <label for="exampleFormControlTextarea1" class="form-label"><h4>I am grateful for:</h4></label>
  <textarea class="form-control" type="text" id="content1" rows="3" name="content1" required disabled><%= entry.content.content1 %></textarea>
</div>

<div class="mb-3" style="padding: 0 20px;">
  <label for="exampleFormControlTextarea1" class="form-label"><h4>What would make today great?</h4></label>
  <textarea class="form-control" type="text" id="content2" rows="3" name="content2" required disabled><%= entry.content.content2 %></textarea>
</div>

<div class="mb-3" style="padding: 0 20px;">
  <label for="exampleFormControlTextarea1" class="form-label"><h4>Positive Affirmation</h4></label>
  <textarea class="form-control" type="text" id="content3" rows="3" name="content3" required disabled><%= entry.content.content3 %></textarea>
</div>

<h1 style="padding: 0 20px;">☾</h1>

<div class="mb-3" style="padding: 0 20px;">
    <label for="exampleFormControlTextarea1" class="form-label"><h4>Good things that happened today:</h4></label>
    <textarea class="form-control" type="text" id="content4" rows="3" name="content4" required disabled><%= entry.content.content4 %></textarea>
  </div>

<div class="mb-3" style="padding: 0 20px;">
    <label for="exampleFormControlTextarea1" class="form-label"><h4>What I learned today:</h4></label>
    <textarea class="form-control" type="text" id="content5" rows="3" name="content5" required disabled><%= entry.content.content5 %></textarea>
  </div>



  <div class="centered">
    <button class="button" type="submit">Save Changes</button>
  </form>
  </br>
  </br>
  <form method="POST" action="/entries/<%= entry.id %>?_method=DELETE">
    <button class="button" type="submit">Delete</button>
    <input type="hidden" name="_method" value="DELETE">
  </form>
  </div>

