<%- include("../partials/header.ejs")%>

<h2>Entries - index</h2>

<form action="/entries" method="GET">
  <div>
    <label for="word">Word:</label>
    <input type="text" name="word" id="word">
  </div>
  <div>
    <label for="tag">Tag:</label>
    <input type="text" name="tag" id="tag">
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" name="date" id="date">
  </div>
  <button type="submit">Search</button>
</form>

<div class="card-deck">
  <% let cardCounter = 0 %>
  <% for (const entry of entries) {
    const createdAt = new Date(entry.createdAt);
    const options = {
      weekday: 'long',
      month: 'long',
      day: 'numeric'
    };
    const dateString = createdAt.toLocaleDateString('en-US', options);
    const hour = createdAt.getHours();
    const greeting = hour < 12 ? 'Morning' : 'Evening';
    cardCounter++;
  %>
    <div class="card mb-4">
      <div class="card-header"><a href="/entries/<%= entry.id %>"><%= dateString %> <%= greeting %></a></div>
      <div class="card-body">
        <p class="card-text"><%= entry.content.content1 %></p>
      </div>
    </div>
    <% if (cardCounter % 3 === 0) { %>
      </div><div class="card-deck">
    <% } %>
  <% } %>
</div>



<%- include("../partials/footer.ejs") %>