<%- include("../partials/header.ejs")%>

<h2>Index</h2>

<form action="/entries" method="GET">

  <div class="input-group flex-nowrap" style="width: 500px;">
    <span class="input-group-text" id="addon-wrapping" style="width: 100px;">Word:</span>
    <input type="text" for="word" id="word" name="word" class="form-control" placeholder="Word in your entry">
  </div>
  <div class="input-group flex-nowrap" style="width: 500px;">
    <span class="input-group-text" id="addon-wrapping" style="width: 100px;">Tag:</span>
    <input type="text" for="tag" id="tag" name="tag" class="form-control" placeholder="Tag in your entry">
  </div>
  <div class="input-group flex-nowrap" style="width: 500px;">
    <span class="input-group-text" id="addon-wrapping" style="width: 100px;">Date:</span>
    <input type="date" for="date" id="date" name="date" class="form-control" placeholder="Date of your entry">
  </div>
  

<button type="submit">Search</button>

</form>

<div class="card-deck">
  <% let cardCounter = 0 %>
  <% for (const entry of entries) {
    const createdAt = new Date(entry.createdAt);
    const options = {
      weekday: 'long',
      month: 'long',
      day: 'numeric'
    };
    const dateString = createdAt.toLocaleDateString('en-US', options);
    const hour = createdAt.getHours();
    const greeting = hour < 12 ? 'Morning' : 'Evening';
    cardCounter++;
  %>
    <div class="card mb-4">
      <div class="card-header"><a href="/entries/<%= entry.id %>"><%= dateString %> <%= greeting %></a></div>
      <div class="card-body">
        <p class="card-text"><%= entry.content.content1 %></p>
      </div>
    </div>
    <% if (cardCounter % 3 === 0) { %>
      </div><div class="card-deck">
    <% } %>
  <% } %>
</div>



<%- include("../partials/footer.ejs") %>