<%- include("../partials/header.ejs")%>

<div class="container">
<h2>Journal Entries</h2>

<!--Search contain -->
<form action="/entries" method="GET">
  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="word" class="form-label">Word:</label>
      <input type="text" for="word" id="word" name="word" class="form-control" placeholder="Word in your entry">
    </div>
    <div class="col-md-4 mb-3">
      <label for="tag" class="form-label">Tag:</label>
      <input type="text" for="tag" id="tag" name="tag" class="form-control" placeholder="Tag in your entry">
    </div>
    <div class="col-md-4 mb-3">
      <label for="date" class="form-label">Date:</label>
      <input type="date" for="date" id="date" name="date" class="form-control" placeholder="Date of your entry">
    </div>
  </div>
  <button type="submit" class="container">Search</button>
</form>






<!-- Index of journal cards -->
<div class="container">
  <div class="card-deck">
    <% let cardCounter = 0 %>
    <% for (const entry of entries) {
      const createdAt = new Date(entry.createdAt);
      const options = {
        weekday: 'long',
        month: 'long',
        day: 'numeric'
      };
      const dateString = createdAt.toLocaleDateString('en-US', options);
      const hour = createdAt.getHours();
      const greeting = hour < 12 ? 'Morning' : 'Evening';
      cardCounter++;
    %>
      <div class="card mb-4">
        <div class="card-header"><a href="/entries/<%= entry.id %>"><%= dateString %> <%= greeting %></a></div>
        <div class="card-body">
          <p class="card-text"><%= entry.content.content1 %></p>
        </div>
      </div>
      <% if (cardCounter % 0 === 0) { %>
        </div><div class="card-deck" style="width: 90%;">
      <% } %>
    <% } %>
  </div>
</div>

<style>
  @media (max-width: 576px) {
    .card-deck {
      width: 100%;
    }
  }
</style>





<%- include("../partials/footer.ejs") %>