<%- include("../partials/header.ejs") %>

<h1>Select Template</h1>
<form action="/entries/new" method="/entries/new?_method=PUT">
  <% Object.keys(user.template).forEach(function(key) { %>
    <label for="<%= key %>">Templates:</label>
    <select name="<%= key %>" id="<%= key %>">
      <% Object.values(user.template[key]).forEach(function(option) { %>
        <option value="<%= option %>"><%= option %></option>
      <% }); %>
    </select>
  <% }); %>
  <button type="submit">Render Template</button>
</form>

<!-- // conditional statement that checks the template and conditionally renders 


<%- include('../partials/footer.ejs') %>