<%- include("../partials/header.ejs") %>

<h2>Entries - New</h2>

<p><%= quotes.quote %></p>
<p><%= quotes.author %></p>

<form method="POST" action="/entries">
  <h1>☀️</h1>
    <h2>I am grateful for:</h2>
    <label for="content">Content1:</label>
    <input type="text" name="content1" required>
    <h2>What would make today great?</h2>
    <label for="content">Content2:</label>
    <input type="text" name="content2" required>
    <h2>Positive Affirmation</h2>
    <label for="content">Content3:</label>
    <input type="text" name="content3" required>
    <h1>☾</h1>
    <h2>Good things that happened today:</h2>
    <label for="content">Content4:</label>
    <input type="text" name="content4" required>
    <h2>What I learned today:</h2>
    <label for="content">Content5:</label>
    <input type="text" name="content5" required>
  
    <h4>Tags:</h4>
    <% for (const adj of adjectives) { %>
      <div>
        <input type="checkbox" id="tag-<%= adj.toLowerCase() %>" name="tags" value="<%= adj.toLowerCase() %>">
        <label for="tag-<%= adj.toLowerCase() %>"><%= adj %></label>
      </div>
    <% } %>
    
  
    <button type="submit">Save Entry</button>
  </form>

<%- include('../partials/footer.ejs') %>