<%- include("../partials/header.ejs")%>

<h2>Entries - show</h2>


<h2><%= entry.title %></h2>

<p><%= entry.content %></p>

<p>Tag: <%= entry.foundTag %></p>

<p>Created: <%= entry.createdAt %></p>

<p>Last Updated: <%= entry.updatedAt %></p>

<a href="/entries/<%= entry.id %>/edit">Edit Entry</a>

<%- include("../partials/footer.ejs") %>