<%- include("../partials/header.ejs")%>

<h2>Entries - show</h2>

<p><%= entry.content.content1 %></p>
<p><%= entry.content.content2 %></p>
<p><%= entry.content.content3 %></p>
<p><%= entry.content.content4 %></p>
<p><%= entry.content.content5 %></p>

<% if (entry.tags.length) { %>
    <p>Tags:
      <% entry.tags.forEach(function(tag) { %>
        <%= tag.name %>
      <% }); %>
    </p>
  <% } %>

<p>Created: <%= entry.createdAt %></p>

<p>Last Updated: <%= entry.updatedAt %></p>

<a href="/entries/<%= entry.id %>/edit">Edit Entry</a>

<%- include("../partials/footer.ejs") %>