<%- include("../partials/header.ejs") %>

<h2 class="centered">Welcome <%=user.first_name%></h2>
 
<div class="centered">
<% if (message) { %>
    <p><%= message %></p>
  <% } %>
</div>

<div class="centered">
<h4>Current streak: <%= currentStreak %></h4>
<h4>Longest streak: <%= longestStreak %></h4>
</div>

<body>
  <!-- Here we are using attributes like
      cellspacing and cellpadding -->

  <!-- The purpose of the cellpadding is 
      the space that a user want between
      the border of cell and its contents-->

  <!-- cellspacing is used to specify the 
      space between the cell and its contents -->
      <div align="center">
        <h2 style="color: green;">April 2023</h2>
        <table cellspacing="21" cellpadding="21">
          <caption align="top"></caption>
          <thead>
            <tr>
              <th>Sun</th>
              <th>Mon</th>
              <th>Tue</th>
              <th>Wed</th>
              <th>Thu</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody align="center">
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>1</td>
              <td>2</td>
            </tr>
            <tr></tr>
            <tr>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
              <td>9</td>
            </tr>
            <tr>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
              <td>14</td>
              <td>15</td>
              <td>16</td>
            </tr>
            <tr>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
              <td>21</td>
              <td>22</td>
              <td>23</td>
            </tr>
            <tr>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
              <td>28</td>
              <td>29</td>
              <td>30</td>
            </tr>
            <tr>
              <td>31</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
          </tbody>
        </table>
      </div>
      
</body>

<!-- Inspired by https://morioh.com/p/7d923381e6ed -->
<%- include("../partials/footer.ejs") %>
