<%- include("../partials/header.ejs") %>

<h2 class="centered">Welcome <%=user.first_name%></h2>
 
<div class="centered">
<% if (message) { %>
    <p><%= message %></p>
  <% } %>
</div>

<div class="centered">
<h4>Current streak: <%= currentStreak %></h4>
<h4>Longest streak: <%= longestStreak %></h4>
</div>
<%- include("../partials/footer.ejs") %>
