<%- include("../partials/header.ejs") %>

<h2 class="centered">Welcome <%=user.first_name%></h2>
 
<div class="centered">
<% if (message) { %>
    <p><%= message %></p>
  <% } %>
</div>

<div class="centered">
<h4>Current streak: <%= currentStreak %></h4>
<h4>Longest streak: <%= longestStreak %></h4>
</div>

<p class="main-calendar-message">
  Keep posting to your calendar! The calendar will highlight all the days that you've posted an entry, so you can easily see your progress over time. Plus, the more you post, the more complete your calendar will be. Don't miss out on the satisfaction of seeing a full year's worth of entries - keep posting and watch your calendar come to life!
</p>


<!-- CALENDAR -->

<% let entries = {} %>
<% for(let entry of allEntries) {
  let entryDate = new Date(entry.createdAt).toLocaleDateString()
  entries[entryDate] = true
} %>

<div class="calendar">
  <div class="calendar-header">
    <div class="calendar-month">
      <%= new Date(year, month).toLocaleDateString('en-US', { month: 'long', year: 'numeric' }) %>
    </div>
  </div>
  <div class="calendar-weekdays">
    <div class="calendar-weekday">Sun</div>
    <div class="calendar-weekday">Mon</div>
    <div class="calendar-weekday">Tue</div>
    <div class="calendar-weekday">Wed</div>
    <div class="calendar-weekday">Thu</div>
    <div class="calendar-weekday">Fri</div>
    <div class="calendar-weekday">Sat</div>
  </div>
  
  <div class="calendar-body">
    <% let dayOfWeek = new Date(year, month, 1).getDay() %>
    <% for(let i=1; i<=dayOfWeek; i++) { %>
      <div class="calendar-date"></div>
    <% } %>
    <% for(let i=1; i<=31; i++) {
      let currentDate = new Date(year, month, i).toLocaleDateString()
      let highlightClass = entries[currentDate] ? 'highlight' : ''
      let dayOfWeek = new Date(year, month, i).getDay()
      let isWeekend = dayOfWeek === 0 || dayOfWeek === 6
    %>
      <div class="calendar-date <%= highlightClass %> <%= isWeekend ? 'weekend' : '' %>">
        <%= i %>
      </div>
    <% } %>
    <% let daysInMonth = new Date(year, month + 1, 0).getDate() %>
    <% for(let i=dayOfWeek+daysInMonth; i<42; i++) { %>
      <div class="calendar-date"></div>
    <% } %>
  </div>
</div>




<%- include("../partials/footer.ejs") %>
